body {
    width: 350px;
}

h2 {
    border-bottom: 2px solid crimson;
}

pre {
    border: 1px solid;
    background-color: whitesmoke;
    padding: 4px 10px;
    border-radius: 5px;
}

form {
    border: 2px dashed darkblue;
    padding: 4px 10px;
}

form label {
    display: inline-block;
    width: 40px;
}

form input {
    border-radius: 5px;
    border: 1px solid lightcoral;
}